extends ./layout/layout.pug

block content
    .row
        .col-md-12
            h1 Blog
            :markdown-it
                Welcome to the blog page of Stryker. Here we post stories to inform developers about the usage of Stryker and the new possibities it brings.

            each blog in blogs
                .blog-preview
                    h2 <a href=#{blog.url} title=#{blog.title}> #{blog.title} </a>
                    p #{blog.description} <span class="blog-date"> #{blog.date} </span>

