extends ./layout.pug

block prepend content
    .row
        .col-md-3
            .card.sticky-top-70.mb-3
                each item in menu.childItems
                    if item.isActive
                        .card-header=item.menuTitle
                        ul.list-group.list-group-flush
                        each childItem in item.childItems
                            li.list-group-item
                                if childItem.isActive
                                    | #{childItem.title}
                                else
                                    a.d-block(href=childItem.url, title=childItem.name, class=childItem.isActive?'text-white':'')&attributes(childItem.attributes)=childItem.title
        .col
            h1=menu.activeTitle
            block content


